!!!
%html{lang: :en}
  %head
    %meta{ charset: 'utf-8' }
    %meta{ content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible' }
    %meta{ content: 'width=device-width, initial-scale=1', name: 'viewport' }

    %title Bootstrap 101 Template

    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'

  %body
    .container
      = yield

    = javascript_include_tag '//code.jquery.com/jquery-1.12.4.js',
                             '//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'
